<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Wiki_RAG</title>
    <link rel="stylesheet" href="../static/simple.min.css" >
</head>
<body>
    <h1>KZSFluxus - Wiki_RAG</h1>
    <form method="post">
        <label for="question">Kérdés:</label><br>
        <input type="text" id="question" name="question" value="{{ question }}" size="80"><br><br>
        <button type="submit">Küldés</button>
    </form>

    {% if answer %}
    <h2>Válasz:</h2>
    <p>{{ answer.replace('\n', '<br>')|safe }}</p>
    {% endif %}
</body>
</html>
